.cmake
.vscode
jrtplib/src/CMakeFiles/*
jrtplib/src/CMakeFiles/
CMakeFiles/*
CMakeFiles/
*.o
myRtspClient/third_party/JTHREAD/build/src/CMakeFiles
jrtplib/*
liblibavcodec.a
libmyRtspClient.so
myRtspClient_autogen/
libavcodec_autogen/
test_packet_recv.h264
orwell_monitor
CMakeFiles/
libmyRtspClient.a
orwell_monitor
orwell
testapp/DesktopApp/desktop/lib/react-native_autogen/
testapp/DesktopApp/desktop/lib/jrtplib/src/jrtplib-static_autogen
testapp/DesktopApp/desktop/lib/orwell_autogen/
testapp/DesktopApp/desktop/lib/jrtplib/src/jrtplib-shared_autogen/
testapp/DesktopSampleApp/desktop/lib/
orwelljs/node_modules
orwelljs/desktop/CMakeFiles
orwelljs/desktop/bin/*
orwell_autogen/
CMakeCache.txt
cmake_install.cmake
lib*
orwellJS/node_modules/*
orwellJS/node_modules/
orwellJS/desktop/lib/
orwellJS/desktop/bin/
orwellJS/desktop/modules/mediaplayer/desktop/orwell_subdir/
myRtspClient/third_party/JRTPLIB/src/libjrtp.so.*
qt/myrtsp/
react-native-desktop/.npmignore
react-native-desktop/.buckconfig
react-native-desktop/.buckjavaargs
react-native-desktop/.editorconfig
react-native-desktop/.eslintignore
react-native-desktop/.eslintrc
react-native-desktop/.flowconfig
react-native-desktop/.gitattributes
react-native-desktop/.gitignore
react-native-desktop/.nvmrc
react-native-desktop/.github.flowconfig.android
react-native-desktop/.circleci/README.md
react-native-desktop/.circleci/config.yml
react-native-desktop/.github/CODEOWNERS
react-native-desktop/.github/ISSUE_TEMPLATE.md
react-native-desktop/.github/PULL_REQUEST_TEMPLATE.md
react-native-desktop/.github/stale.yml
react-native-desktop/.github/ISSUE_TEMPLATE/bug_report.md
react-native-desktop/.github/ISSUE_TEMPLATE/discussion.md
react-native-desktop/.github/ISSUE_TEMPLATE/documentation.md
react-native-desktop/.github/ISSUE_TEMPLATE/feature_request.md
react-native-desktop/.github/ISSUE_TEMPLATE/question.md
qt/RND/
orwellJS2/
